	

<h4>SPACE X Launch Program</h4>
<div class="sidebar year-nav">
<div class= "container">
  <form [formGroup]="filterForm">
    <h5>Filters</h5>

    <h6>----- Launch Year ----</h6>
 <div class="row clear-row wrapper" >
     <div *ngFor= "let element of launchYearArray">
      <ul class="radio-filter">
        <li>
          <input type="radio" [id]="element" name="yearfilter" [value]="element" formControlName="yearfilter"/>
          <label for="{{element}}"> {{element}} </label>
        </li>
      </ul>

        <!-- <button class="btn btn-success btn-sm btn-clear">
            {{element}}
        </button> -->
    
     </div>
	
 </div>

 
 <div class="row clear-row" >
    <h6>-Successful Launch -</h6>
     <div >
      <ul class="launch-now">
        <li>
          <input type="radio" id="launchtrue" name="launchFilter" value="true"  formControlName="launchFilter"/>
          <label for="launchtrue"> True </label>
        </li>
      
        <li>
          <input type="radio" id="launchfalse" name="launchFilter" value="false"  formControlName="launchFilter"/>
          <label for="launchfalse"> False </label>
        </li>
      </ul>
        
     </div>
	
 </div>

 
 <div class="row clear-row" >
    <h6>- Successful Landing -</h6>
     <div >
      <ul class="radio-filter">
        <li>
          <input type="radio" id="landtrue" name="landfilter" [value]="true" formControlName="landfilter"/>
          <label for="landtrue"> True </label>
        </li>
      
        <li>
          <input type="radio" id="landfalse" name="landfilter" [value]="false" formControlName="landfilter"/>
          <label for="landfalse"> False </label>
        </li>
      </ul>
     </div>
	
 </div>

 <div class="row clear-row" >
   <button class= "btn btn-danger" (click) ="reset()">Reset</button>
 </div>
</form>
 </div>
</div>

<div class="content" *ngIf="tempresponse.length > 0 ; else elseContent">
  <div class="card-wrapper">
    <div class="card " style="width: 18rem;" *ngFor="let card of tempresponse">
        <div class="d-flex justify-content-center img-wrapper">
            <img src= '{{ card.links.mission_patch_small}}' class="card-img-top small" alt="...">
        </div>
        
        <div class="card-body">
          <h5 class="card-title">{{card.mission_name}}#{{card.flight_number}}</h5>
          <div class="row" *ngIf="card.mission_id.length > 0 ; else elseBlock">
            <label><b>Misson Ids</b></label> : 
            <div *ngFor ="let misson of card.mission_id">
              <span>{{misson}}</span>
            </div>
          </div>
          <ng-template #elseBlock>
            <label><b>Misson Ids</b></label> : 
           
              <span>NA</span>
            
          </ng-template>
          
          <div class="row">
            <label><b>Launch Year</b></label> : <span>{{card.launch_year}}</span>
          </div>
          
          <div class="row">
            <label><b>Successful Launch</b></label> : <span>{{card.launch_success}}</span>
          </div>
          
          <div class="row">
            <label><b>Successful Landing</b></label> : <span>{{card.rocket.first_stage.cores[0]['land_success']}}</span>
          </div>
          
        </div>
      </div>
  </div>
   

  
</div>
<ng-template #elseContent>
  <div class="content">
    <h3>
      No Data Available
    </h3>
  </div>
</ng-template>
